.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  &__name {
    flex-grow: 1;
  }

  &__group-btn {
    display: flex;
    gap: 10px;
  }

  &__btn-done {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

  &__btn-del {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }

  &.task-done {
    background-color: #e0ffe0; 
    text-decoration: line-through;
  }
}
.task__name {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 100%;
  display: block;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

.task__name::-webkit-scrollbar {
  height: 6px;
}

.task__name::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.task__name::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task__name::-webkit-scrollbar-track {
  background: #f5f5f5;
}


